In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('train.csv')
df.head()

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70128 entries, 0 to 70127
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   row_id    70128 non-null  int64
 1   date      70128 non-null  object
 2   country   70128 non-null  object
 3   store     70128 non-null  object
 4   product   70128 non-null  object
 5   num_sold  70128 non-null  int64
dtypes: int64(2), object(4)
memory usage: 3.2+ MB

In [28]:
df.drop('row_id',axis = 1,inplace = True)

In [29]:
df.shape

(70128, 5)

In [30]:
df.head()

         date  country       store                           product  num_sold
0  2017-01-01  Belgium  KaggleMart        Kaggle Advanced Techniques       663
1  2017-01-01  Belgium  KaggleMart            Kaggle Getting Started       615
2  2017-01-01  Belgium  KaggleMart                Kaggle Recipe Book       480
3  2017-01-01  Belgium  KaggleMart  Kaggle for Kids: One Smart Goose       710
4  2017-01-01  Belgium  KaggleRama        Kaggle Advanced Techniques       240

In [31]:
dates = len(df.date.unique())

dates

1461

In [32]:
df.country.unique()

array(['Belgium', 'France', 'Germany', 'Italy', 'Poland', 'Spain'],
      dtype=object)

In [33]:
country_dummies = pd.get_dummies(df['country'],drop_first = True)
store_dummies = pd.get_dummies(df['store'],drop_first = True)
product_dummies = pd.get_dummies(df['product'],drop_first = True)

In [34]:
df = df.join(country_dummies)

In [35]:
df= df.join(store_dummies)
df = df.join(product_dummies)

In [36]:
df.head()

,date,country,store,product,num_sold,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose
0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663,0,0,0,0,0,0,0,0,0
1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615,0,0,0,0,0,0,1,0,0
2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480,0,0,0,0,0,0,0,1,0
3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710,0,0,0,0,0,0,0,0,1
4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240,0,0,0,0,0,1,0,0,0

In [37]:
df.shape

(70128, 14)

In [38]:
df = df.drop(['country','store','product'],axis = True)

In [39]:
df.head()

,date,num_sold,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose
0,2017-01-01,663,0,0,0,0,0,0,0,0,0
1,2017-01-01,615,0,0,0,0,0,0,1,0,0
2,2017-01-01,480,0,0,0,0,0,0,0,1,0
3,2017-01-01,710,0,0,0,0,0,0,0,0,1
4,2017-01-01,240,0,0,0,0,0,1,0,0,0

In [40]:
df.date.dtype

dtype('O')

In [41]:
df['date'] = pd.to_datetime(df['date'])

In [42]:
df['date_year'] = df['date'].dt.year
df['date_month_no'] = df['date'].dt.month 
df['date_day'] = df['date'].dt.day

In [43]:
df.head()

,date,num_sold,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose,date_year,date_month_no,date_day
0,2017-01-01,663,0,0,0,0,0,0,0,0,0,2017,1,1
1,2017-01-01,615,0,0,0,0,0,0,1,0,0,2017,1,1
2,2017-01-01,480,0,0,0,0,0,0,0,1,0,2017,1,1
3,2017-01-01,710,0,0,0,0,0,0,0,0,1,2017,1,1
4,2017-01-01,240,0,0,0,0,0,1,0,0,0,2017,1,1

In [44]:
df.head()

,date,num_sold,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose,date_year,date_month_no,date_day
0,2017-01-01,663,0,0,0,0,0,0,0,0,0,2017,1,1
1,2017-01-01,615,0,0,0,0,0,0,1,0,0,2017,1,1
2,2017-01-01,480,0,0,0,0,0,0,0,1,0,2017,1,1
3,2017-01-01,710,0,0,0,0,0,0,0,0,1,2017,1,1
4,2017-01-01,240,0,0,0,0,0,1,0,0,0,2017,1,1

In [45]:
df = df.drop('date',axis = 1)

In [46]:
df.head()

,num_sold,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose,date_year,date_month_no,date_day
0,663,0,0,0,0,0,0,0,0,0,2017,1,1
1,615,0,0,0,0,0,0,1,0,0,2017,1,1
2,480,0,0,0,0,0,0,0,1,0,2017,1,1
3,710,0,0,0,0,0,0,0,0,1,2017,1,1
4,240,0,0,0,0,0,1,0,0,0,2017,1,1

In [47]:
x = df.iloc[:,1:]
y = df.num_sold

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [49]:
x_train.shape

(56102, 12)

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
rfr = RandomForestRegressor()
model = rfr.fit(x_train,y_train)

In [52]:
model.predict(x_test)

array([ 99.2 ,  45.8 , 327.27, ..., 114.89,  68.63, 167.97])

In [53]:
model.score(x_test,y_test)*100

96.97746567229049

In [54]:
from sklearn.model_selection import cross_val_score

In [55]:
ss = cross_val_score(model,x_test,y_test)

In [56]:
ss.mean()

0.9545072930849063

In [57]:
x_train.head()

,France,Germany,Italy,Poland,Spain,KaggleRama,Kaggle Getting Started,Kaggle Recipe Book,Kaggle for Kids: One Smart Goose,date_year,date_month_no,date_day
9526,0,1,0,0,0,1,0,1,0,2017,7,18
33915,0,0,1,0,0,0,0,0,1,2018,12,8
29550,0,0,1,0,0,1,0,1,0,2018,9,8
35932,0,0,1,0,0,1,0,0,0,2019,1,19
43266,0,1,0,0,0,0,0,1,0,2019,6,21

In [58]:
y_train.head()

9526      68
33915    399
29550     67
35932    123
43266    213
Name: num_sold, dtype: int64

In [59]:
model.score(x_test,y_test)

0.969774656722905

In [60]:
model.predict([[0,0,1,0,0,1,0,1,0,7,3,4]])

C:\Users\Sheela Sai kumar\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([62.62])

In [61]:
import pickle

In [62]:
with open('kaggle_Playground.pkl','wb') as f:
    pickle.dump(model,f)